In [ ]:
!git clone https://github.com/VadimBaev/tests_for_interview.git

In [ ]:
cd tests_for_interview

In [ ]:
ls -la

# Pandas

In [ ]:
!pip install pandasql

In [ ]:
import pandas as pd
import sqlite3
import pandasql as ps
import numpy as np

In [ ]:
# импортим файлы
data =

In [ ]:
actions =

In [ ]:
conn = sqlite3.connect(':memory:') 
 
# сохраняем DataFrame как таблицу в базе данных 
data.to_sql('my_table', conn, index=False) 
actions.to_sql('user_actions', conn, index=False)

# Общая информация о датасете

In [ ]:
# Смотрим структуру таблицы, типы данных, количество строк и столбцов
data

In [ ]:
actions

# SQL

## Задача 1: Какое количество уникальных пользователей и дубликатов по User_ID

In [ ]:
# Количество уникальных пользователей
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

In [ ]:
# Количество дубликатов (повторяющихся ID)
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

## Задача 2: Посчитать количество пропусков в Product_Category_2 и Product_Category_3 в одном запросе

In [ ]:
# Количество пропусков
q1 = """
    SELECT 
    """

result = pd.read_sql_query(q1, conn) 
result.head()

## Задача 3: Создай новое поле Purchase_cat с категориями покупок
- Purchase_cat = '<5000' , если Purchase < 5000
- Purchase_cat = '5000 - 8000' , если 5000 <= Purchase < 8000
- Purchase_cat = '>=8000' , если 8000 <= Purchase

In [ ]:
# Выведи все поля + новое поле
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

## Задача 4: Какая средняя сумма покупок и количество покупателей мужского и женского пола, проживающих в городе типа А

In [ ]:
# Вывести пол, количество покупателей и среднюю сумму
q1 = """
    SELECT 
    """

result = pd.read_sql_query(q1, conn) 
result.head()

## Задача 5: Найди топ-3 пользователя по сумме покупок при условии что покупок > 50

In [ ]:
# Вывести ТОП-3
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

## Задача 6: Найди вторую по стоимости покупку для пользователей с User_ID 1000001, 1000002, 1000003 (если таких несколько, то первая по порядку)

In [ ]:
# Выведи User_ID и стоимость покупки
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

## Задача 7: Посчитайте количество юзеров, которые не совершили ни одного действия

In [ ]:
# Выведи количество юзеров, используя вспомогательную таблицу user_actions
q1 = """
      SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

# Pandas

## Задача 1: Какое количество уникальных пользователей и дубликатов по User_ID

In [ ]:
# Выведи количество уникальных пользователей
data

In [ ]:
# Выведи количество дубликатов по User_ID
data

## Задача 2: Посчитать количество пропусков в Product_Category_2 и Product_Category_3

In [ ]:
# Выведи количество пропусков в категориях
data

## Задача 3: Сколько женщин из города категории A старше 55 лет?

In [ ]:
# Выведи количество женщин
data

## Задача 4: Какая доля от всех покупок приходится на город категории А?

In [ ]:
# Выведи долю от всех покупок
data

## Задача 5: Какая возрастная категория самая прибыльная?

In [ ]:
# Выведи все категории с суммами
data

## Задача 6: Какая средняя сумма покупок и количество покупателей мужского и женского пола, проживающих в городе типа А

In [ ]:
# Выведи пол, количество покупателей и среднюю сумму
data

## Задача 7: Создай категориальную фичу Purchase_Сat с помощью колонки Purchase:

Purchase_cat = '<5000' , если Purchase < 5000

Purchase_cat = '5000 - 8000' , если 5000 <= Purchase < 8000

Purchase_cat = '>=8000' , если 8000 <= Purchase

In [ ]:
# Выведи датафрейм с новой категорией
data.loc...

## Задача 8: Создай таблицу shipping:

| Purchase_Cat | Shipping_Cost_Raw |   |   |   |
|--------------|-------------------|---|---|---|
| <5000        | 100               |   |   |   |
| 5000 - 8000  | 50                |   |   |   |
| >=8000       | 0                 |   |   |   |

In [ ]:
# Выведи новый датафрейм
shipping = pd.DataFrame
shipping

## Задача 9: Добавь в таблицу data колонку Shipping_Cost_Raw , используя таблицу shipping, созданную выше.

In [ ]:
# Выведи датафрейм с новой колонкой
data = data.merge

## Задача 10: Из таблицы data создай новую таблицу со статистикой по колонке Age. В этой таблице для каждого уникального значения Age должны быть:

* число покупателей (количество уникальных значений по полю User_ID), 
* средняя стоимость покупки (среднее по полю Purchase), 
* максимальная сумма покупки (максимальное значение поля Purchase), 
* минимальная сумма покупки (минимальное значение поля Purchase)

In [ ]:
# Выведи новый датафрейм с агрегациями
data