In [ ]:
!pip install pandasql

In [ ]:
!git clone https://github.com/VadimBaev/tests.git

In [ ]:
cd tests

# Pandas

In [ ]:
import pandas as pd
import sqlite3
import pandasql as ps
import numpy as np

In [ ]:
# импортим файл
data =

In [ ]:
actions =

In [ ]:
conn = sqlite3.connect(':memory:') 
 
# сохранить DataFrame как таблицу в базе данных 
data.to_sql('my_table', conn, index=False) 
actions.to_sql('user_actions', conn, index=False)

# Общая информация о датасете

In [ ]:
# Смотрим структуру таблицы, типы данных, количество строк и столбцов
data

In [ ]:
actions

# SQL

## Задача 1: Какое количество уникальных пользователей и дубликатов по User_ID

In [ ]:
# Количество уникальных пользователей
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

In [ ]:
# Количество дубликатов (повторяющихся ID)
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

### Подсказка

Найди разницу между общим количеством пользователей и уникальными пользователями

## Задача 2: Посчитать количество пропусков в Product_Category_2 и Product_Category_3 в одном запросе

In [ ]:
# Количество пропусков
q1 = """
    SELECT 
    """

result = pd.read_sql_query(q1, conn) 
result.head()

### Подсказка

Используй условные выражения CASE

## Задача 3: Какая средняя сумма покупок и количество покупателей мужского и женского пола, проживающих в городе типа А

In [ ]:
# Вывести пол, количество покупателей и среднюю сумму
q1 = """
    SELECT 
    """

result = pd.read_sql_query(q1, conn) 
result.head()

### Подсказка

## Задача 4: Найди топ-3 пользователя по сумме покупок при условии что покупок > 50

In [ ]:
# Используй подзапрос/СТЕ
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

In [ ]:
# Используй фильтрацию агрегированных результатов
q1 = """
      SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

### Подсказка

- сгруппируй пользователей
- посчитай количество покупок и сумму
- отфильтруй по количеству покупок
- задай порядок по сумме по убыванию

## Задача 5: Создай новое поле Purchase_cat с категориями покупок
- Purchase_cat = '<5000' , если Purchase < 5000
- Purchase_cat = '5000 - 8000' , если 5000 <= Purchase < 8000
- Purchase_cat = '>=8000' , если 8000 <= Purchase

In [ ]:
# Выведи все поля + новое 
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

### Подсказка

## Задача 6: Найди вторую по стоимости покупку для пользователей с User_ID 1000001, 1000002, 1000003 (если таких несколько, то первая по порядку)

In [ ]:
# Используй оконную функцию
q1 = """
    SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

### Подсказка

используй условные выражения CASE

## Задача 7: Посчитайте количество юзеров, которые не совершили ни одного действия

In [ ]:
# Используй таблицу user_actions
q1 = """
      SELECT
    """

result = pd.read_sql_query(q1, conn) 
result.head()

### Подсказка

- используй левый джойн
- отфильтруй те айди, которых нет в таблице user_actions

# Pandas

## Задача 1: Какое количество уникальных пользователей и дубликатов по User_ID

In [ ]:
# количество уникальных пользователей
data

In [ ]:
# количество дубликатов по User_ID
data

## Задача 2: Посчитать количество пропусков в Product_Category_2 и Product_Category_3

In [ ]:
# количество пропусков
data

### Подсказка

возьми из датасета только необходимые поля и примени функцию

## Задача 3: Сколько женщин из города категории A старше 55 лет?

In [ ]:
# количество женщин
data

### Подсказка

- отфильтруй датасет
- посчитай юзеров

## Задача 4: Какая доля от всех покупок приходится на город категории А?

In [ ]:
# доля от всех покупок
data

### Подсказка

подели сумму покупок при соответствующем фильтре на сумму всех покупок

## Задача 5: Какая возрастная категория самая прибыльная?

In [ ]:
# категории
data

### Подсказка

примени группировку к полю с возрастными категориями и проссумируй по полю с суммами покупок

## Задача 6: Какая средняя сумма покупок и количество покупателей мужского и женского пола, проживающих в городе типа А

In [ ]:
# Статистика
data

### Подсказка

- примени фильтр
- сгруппируй по полу
- примени агрегацию к полю с суммами покупок

## Задача 7: Создай категориальную фичу Purchase_Сat с помощью колонки Purchase:

Purchase_cat = '<5000' , если Purchase < 5000

Purchase_cat = '5000 - 8000' , если 5000 <= Purchase < 8000

Purchase_cat = '>=8000' , если 8000 <= Purchase

In [ ]:
# датафрейм с новой категорией
data.loc...

### Подсказка

синтаксис data.loc[фильтр по полю, название нового столбца] = название категории

## Задача 8: Создай таблицу shipping:

| Purchase_Cat | Shipping_Cost_Raw |   |   |   |
|--------------|-------------------|---|---|---|
| <5000        | 100               |   |   |   |
| 5000 - 8000  | 50                |   |   |   |
| >=8000       | 0                 |   |   |   |

In [ ]:
# новый датафрейм
shipping = pd.DataFrame
shipping

### Подсказка

для создания датафрейма нужно передать словарь со значениями

## Задача 9: Добавь в таблицу data колонку Shipping_Cost_Raw , используя таблицу shipping, созданную выше.

In [ ]:
# датафрейм с новой колонкой
data = data.merge

### Подсказка

для соединения двух таблиц передай название второй таблицы и укажи по какому полю соединение и каким образом присоединять таблицу (слева или справа)

## Задача 10: Из таблицы data создай новую таблицу со статистикой по колонке Age. В этой таблице для каждого уникального значения Age должны быть:

* число покупателей (количество уникальных значений по полю User_ID), 
* средняя стоимость покупки (среднее по полю Purchase), 
* максимальная сумма покупки (максимальное значение поля Purchase), 
* минимальная сумма покупки (минимальное значение поля Purchase)

In [ ]:
# новый датафрейм с агрегациями
data

### Подсказка

к полю с возрастными категориями применяется множественная агрегация